@using Quiron.LojaVirtual.Web.Models
@using Quiron.LojaVirtual.Web.HtmlHelpers
@model Quiron.LojaVirtual.Web.Models.ProdutosViewModel

@foreach (var x in Model.Produtos)
{

    @Html.Partial("ProdutoDetalhes", x)

}

<div class="btn-group pull-right">
    @Html.PageLinks(@Model.Paginacao, x => Url.Action("ListaProdutos", new { pagina = x, categoria = Model.CategoriaAtual }))
</div>


